.contact{
  background-color: aqua;
  padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 83vh;
  
  max-width: 375px;
  width: 100%;
}